<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>
<div class="col-sm-6">
    <h4 class="page-title">Job Types Management</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/job-types">Job Types Management</a></li>
        <li class="breadcrumb-item active">Create Job Type</li>
    </ol>
</div>

<%- contentFor('body') %>
<div class="row">
    <div class="col-lg-12">
        <div class="card">

        </div>
    </div>
</div>

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>
